body{
	background-color: #757575;
	color: #EDEDED;
	font-family: Assistant, Verdana, sans-serif;
	font-size: 15pt;
}

.frase-especial{
	font-family: Galada, 'Times New Roman', serif;
	font-size: 24pt;
}

.titulo-paquete{
	font-family: 'Open Sans Condensed', Verdana, sans-serif;
	font-size: 18pt;
}

.imagen-paquete{
	width:250px;
	height: 250px;
}

.item-lista-paquetes{
	width: 250px;
	margin-left: 20px;
	float: left;
}

#pie{
	clear: both;
}

ul.djng-form-errors {
        margin-left: 0;
        display: inline-block;
        list-style-type: none;
}
ul.djng-form-errors li.invalid {
        color: #e9322d;
}
ul.djng-form-errors li.invalid:before {
        content: "\2716\20";  /* adds a red cross before the error message */
}
ul.djng-form-errors li.valid:before {
        color: #00c900;
        content: "\2714";  /* adds a green tick */
}

.animate-switch-container {
  position:relative;
  border:1px solid black;
  /*background:white;
  height:40px;
  overflow:hidden;*/
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}
